<nav class="navbar">

  <a id="logo" href="/"><h1><i class="fab fa-wikipedia-w"></i>IKI MAPS</h1></a>

  <ul class="navbar-nav">

    <!-- ejs if logged-in -->
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/maps">View Maps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/maps/new">Create Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">About</a>
    </li>

    <!-- ejs if not logged-in -->

    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>

  </ul>

</nav>
