<nav class="navbar">

  <a class="logo" href="/">
    <img src="./images/logo.png" alt="Wiki Maps" width="40px" height="40px">
    <h1><i class="fab fa-wikipedia-w"></i>IKI MAPS</h1>
  </a>

  <div class="nav">
    <!-- ejs if (user) -->
    <div class="left">
      <a href="/profile">Profile</a>
      <a href="/maps">Maps</a>
      <a href="/maps/new">Create Map</a>
    </div>
    <div class="right">
      <a href="/logout">Logout</a>
    </div>

    <!-- ejs if (!user) -->
    <!-- <a class="nav-link" href="/maps">View Maps</a>
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/register">Register</a> -->
  </div>

</nav>
