<!DOCTYPE html>
<html lang="en">

<head><%- include('partials/_head') %></head>

<body>
  <div class="container">

    <div class="c1">
      <header><%- include('partials/_header') %></header>
    </div>
    <div class="c4">class: c4

      <div class="c2">class: c2</div>
      <div class="c3">class: c3</div>

    </div>

    <div class="c5"><footer><%- include('partials/_footer') %></footer></div>

  </div>
</body>

</html>
