<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
  </head>

  <body>
    <div class="container">
      <div class="c1"><header><%- include('partials/_header') %></header></div>

      <div class="c2">
        <h2>View Maps</h2>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">map_id (for testing)</th>
              <th scope="col">user_id (for testing)</th>
              <th scope="col">Map Name</th>
              <th scope="col">Favourite</th>
              <th scope="col">Contributors</th>
            </tr>
          </thead>

          <tbody>
            <!-- ejs for loop start -->
              <tr>
                <td>map id</td>
                <td>user id</td>
                <td><a href='/maps/:id'>map name</a></td>
                <!-- <td><a href='/maps/:id'><i id='i-heart' class="fas fa-heart"></i></a></td> -->

              </tr>
            <!-- ejs end -->
          </tbody>
        </table>

      </div>

      <div class="c3">class: c3</div>
      <div class="c4">class: c4</div>
      <div class="c5"><footer><%- include('partials/_footer') %></footer></div>
    </div>
  </body>
</html>
