<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
  </head>

  <body>
    <div class="container">
      <div class="c1"><header><%- include('partials/_header') %></header></div>

      <section class="profile-page">
        <div class="profile-profile">
          <img src="/images/profile-image.png" />
          <h2>Profile Name</h2>
          <div>
            <button type="submit" class="profile-button">My Maps</button>
            <button type="submit" class="profile-button">Favorites</button>
            <button type="submit" class="profile-button">Contributed</button>
          </div>
          <h3>MAP LIST HERE</h3>
        </div>
        <div class="profile-map-list">
          <h2>MAP LIST HERE</h2>
        </div>
      </section>
      <div class="c4">class: c4</div>
      <div class="c5"><footer><%- include('partials/_footer') %></footer></div>
    </div>
  </body>
</html>
