<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
  </head>

  <body>
    <div class="container">
      <div class="c1"><header><%- include('partials/_header') %></header></div>

      <section class="profile-page">
        <div class="profile-profile">
          <h2>Profile Name</h2>
          <img src="/images/profile-hex.png" />
          <button type="submit" id="favorites">Favorites</button>
          <button type="submit" id="contributor">Contributor</button>
        </div>
        <div class="profile-map-list">
          <h2>MAP LIST HERE</h2>
        </div>
      </section>

      <div class="c3">
        <h3>Maps</h3>
      </div>
      <div class="c4">class: c4</div>
      <div class="c5"><footer><%- include('partials/_footer') %></footer></div>
    </div>
  </body>
</html>
