.navbar {
  // border: 2px dotted white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  padding: 0px 30px;

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    text-decoration: none;

    h1 {
      padding-left: 10px;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    height: 100%;
    width: 70%;
    color: white;

    > a {
      text-decoration: none;
      cursor: pointer;
    }

    #nav-create-map {
      cursor: pointer;
    }

    .sign-out-box {
      margin-top: 20px;
      > p {
        margin: 0;
      }
      .signed-in-message {
        font-size: 1.3em;
      }

      .sign-out-button {
        margin-top: 5px;
        cursor: pointer;
        font-weight: lighter;
        float: right;
      }
    }
  }
}
