.navbar {
  // border: 2px dotted white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  padding: 0px 30px;
  // position: fixed;

  .logo {
    // border: 2px dotted red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;

    h1 {
      padding-left: 10px;
    }
  }

  .nav {
    // border: 2px dotted red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;

    .left {
      // border: 2px dotted white;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 75%;
    }
    .right {
      // border: 2px dotted white;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 25%;

      .sign-in-form {
        > button {
          float: right;
        }
      }

      .sign-out-box {
        > p {
          margin: 0;
        }
        .signed-in-message {
          font-size: 1.3em;
        }

        .sign-out-button {
          margin-top: 5px;
          cursor: pointer;
          font-weight: lighter;
          float: right;
        }
      }
    }
  }
}
