// layout.scss
// page structure (e.g. floats, widths, positioning, margins, padding, etc.)
// See: https://sass-lang.com/

// @use 'foundation/variables';
// @use 'foundation/base';

// @mixin border-mixin {
//   border: 2px dotted black;
// }
// header {
//   background-color: $color-palette-1a
// }
// p {
//   @include border-mixin();
// }

body,
html {
  // border: 2px dotted white;
  margin: 0;
  height: 100%;
}

.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.container,
.c1,
.c2,
.c3,
.c4,
.c5 {
  width: 100%;
}

.c2 {
  display: flex;
  justify-content: center;
}

.c3 {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.c5 {
  height: 65px;
  padding: 0px 15px;
}

form.new-map {
  border: 2px solid white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;

  .form-field {
    // border: 2px dotted white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 4em;

    #new-map-name {
      width: 350px;
      margin: 1em;
    }

    .form-radio {
      // border: 2px dotted white;
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin: 1em;
    }
  }

  .form-submit {
    // border: 2px dotted white;
    text-align: center;
  }
}

#map {
  border: 2px dotted white;
  width: 100%;
  height: 400px;
}

// .sidenav {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   background-color: #111;
//   overflow-x: hidden;
//   transition: 0.5s;
//   padding-top: 60px;
// }

// .sidenav a {
//   padding: 8px 8px 8px 32px;
//   text-decoration: none;
//   font-size: 25px;
//   color: #818181;
//   display: block;
//   transition: 0.3s;
// }

// .sidenav a:hover {
//   color: #f1f1f1;
// }

// .sidenav .closebtn {
//   position: absolute;
//   top: 0;
//   right: 25px;
//   font-size: 36px;
//   margin-left: 50px;
// }

// @media screen and (max-height: 450px) {
//   .sidenav {padding-top: 15px;}
//   .sidenav a {font-size: 18px;}
// }
