// layout.scss
// page structure (e.g. floats, widths, positioning, margins, padding, etc.)
// See: https://sass-lang.com/

// @use 'foundation/variables';
// @use 'foundation/base';

// @mixin border-mixin {
//   border: 2px dotted black;
// }
// header {
//   background-color: $color-palette-1a
// }
// p {
//   @include border-mixin();
// }

body,
html {
  // border: 2px dotted green;
  margin: 0;
  height: 100%;
}

.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.container,
.c1,
.c2,
.c3,
.c4,
.c5 {
  width: 100%;
}

.c2 {
  // height: 600px;
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
.c3 {
  // height: 200px;
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
.c5 {
  height: 65px;
  padding: 0px 15px;
}

#map { height: 180px; }



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
