.map-list {
  background-color: rgba(0, 0, 0, 0.612);
  opacity: 60%;
  padding: 0px 15px;
  width: auto;

  h3 {
    margin: 5px auto;
    text-align: center;
    border-bottom: solid white 1px;
  }
  .map-item-box {
    margin-bottom: 10px;
    border-bottom: solid white 1px;
    .map-item {
      cursor: pointer;
      &:hover {
        transition-duration: 0.3s;
        color: black;
      }
    }

    // #i-heart {
    //   cursor: pointer;
    //   transform: scale(0.8);
    //   &:hover {
    //     transition-duration: 0.3s;
    //     color: red;
    //    }
    // }
  }
}
