h2 {
  margin: 5px auto;
  text-align: center;
  border-bottom: solid white 1px;
}

.map-list {
  background-color: #205474;
  padding: 0px 15px;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;

  .map-name-favorite {
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(180, 180, 180) 1px;
    padding: 0.6em;

    .map-item-box {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      font-size: large;
      &:hover {
        transition-duration: 0.3s;
        color: rgb(22, 22, 22);
      }
    }

    .i-heart {
      color: rgb(22, 22, 22);
      transform: scale(1.1);
      cursor: pointer;
      background-color: #205474;
      border: none;
      &:hover {
        transition-duration: 0.3s;
        color: rgb(209, 75, 75);
      }
    }

    .red {
      color: rgb(209, 75, 75);
    }
  }
}
